<!DOCTYPE html>
<html lang="zh-CN" class=" evernoteSafari">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Template for Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body ng-app ng-controller='main'>
    <h1>userId: <%= userId %></h1>
</body>

</html>
