<!DOCTYPE html>
<html lang="zh-CN" class=" evernoteSafari">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Template for Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body ng-app ng-controller='main'>
    <div class="header">
        <div class="container">
            <nav class="nav">
                <a class="nav-item" href="/courseOfTeacher.ejs">主页</a>
                <a class="nav-item active" href="/lessonOfTeacher.ejs">课堂编辑</a>
                <a class="nav-item" href="/monitor.ejs">监视器</a>
                <a class="nav-item" href="#">New hires</a>
                <a class="nav-item" href="#">About</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <input type="text" placeholder='课堂标题' id="lesson-title" value="<%= lessonTitle%>">
        <input type="text" placeholder='课堂概述' id="lesson-summary" value="<%= summary%>">
        <div class="row">
            <div class="col-xs-3 sider list-box" id="lesson-list-box">
                <div class="list-group" id="important-doc-list">
                    <a class="list-group-item" href="javascript:void(0)" id="lesson-content-doc">课堂内容</a>
                    <a class="list-group-item" href="javascript:void(0)" id="lesson-ppt-doc">演示文稿</a>
                </div>
                <div class="list-group" id="other-doc-list">
                    <a class="list-group-item" href="javascript:void(0)" ng-repeat='docBrief in data.docSummary'>
                        <p class="doc-name hide-text">{{docBrief.docTitle}}</p>
                        <span class='doc-update-time'>{{docBrief.updateDate | date:"yyyy/MM/dd"}}</span>
                        <span class='doc-tag badge'>{{docBrief.tag}}</span>
                    </a>
                    <a class="list-group-item add-item">+</a>
                </div>
            </div>
            <div class="col-xs-9 main"></div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='./js/angular.js'></script>
    <script type="text/javascript" src='./js/refresh.js'></script>
    <script type="text/javascript" src='./js/test.js'></script>
    <script type="text/javascript">
        var lessonId = '<%=  lessonId%>';
    </script>
</body>

</html>
