<!DOCTYPE html>
<html lang="zh-CN" class=" evernoteSafari">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Template for Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body ng-app ng-controller='main'>
    <div class="header">
        <div class="container">
            <nav class="nav">
                <a class="nav-item active" href="/courseOfTeacher.ejs">主页</a>
                <a class="nav-item" href="/lessonOfTeacher.ejs">课堂编辑</a>
                <a class="nav-item" href="/monitor.ejs">监视器</a>
                <a class="nav-item" href="#">New hires</a>
                <a class="nav-item" href="#">About</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 sider list-box" id="course-list-box">
                <div class="list-group">
                    <a class="list-group-item" href="javascript:void(0)" ng-repeat='courseBrief in data.courseSummary'>
                        {{courseBrief.courseName}}
                    </courseBrief></a>
                </div>
            </div>
            <div class="col-xs-10 main">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 id="course-name">化学课</h2>
                    </div>
                </div>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#course-part" aria-controls="profile" role="tab" data-toggle="tab">课堂</a></li>
                        <li role="presentation" ><a href="#doc-part" aria-controls="home" role="tab" data-toggle="tab">文档</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="course-part">
                            <div class="row" id="lesson-put-box">
                                <div class="col-xs-4" ng-repeat='lessonBrief in data.lessonSummary'>
                                    <a href="javascript:void(0)">
                                        <div class="panel panel-default lesson-ico">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{lessonBrief.lessonTitle}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{lessonBrief.summary}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="javascript:void(0)">
                                        <div class="panel panel-default lesson-ico add-lesson">
                                            +
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="doc-part">
                            <div class="row">
                                <div class="col-xs-3 list-box sider" id="course-doc-list-box">
                                    <div class="list-group">
                                        <a class="list-group-item" href="javascript:void(0)" ng-repeat='docBrief in data.docSummary'>
                                            <p class="doc-name hide-text">{{docBrief.docTitle}}</p>
                                            <span class='doc-update-time'>{{docBrief.updateDate | date:"yyyy/MM/dd"}}</span>
                                            <span class='doc-tag badge'>{{docBrief.tag}}</span>
                                        </a>
                                        <a class="list-group-item add-item">+</a>
                                    </div>
                                </div>
                                <div class="col-xs-9 main">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='./js/angular.js'></script>
    <script type="text/javascript" src='./js/refresh.js'></script>
    <script type="text/javascript" src='./js/test.js'></script>
    <script type="text/javascript">
        var userId = '<%= userId %>';
        function checkCourseList($scope, $http) {
            var url = '';

            url = '/user/course_summary'+'?user_id='+userId;
            $http.get(url).success(function(response) {
                $scope.data.courseSummary = response;
            })

            url = '/user/course_summary'+'?user_id='+userId;
            $http.get(url).success(function(response) {
                $scope.data.courseSummary = response;
            })

            $scope.refreshAll = function(){
                $http.get(url).success(function(response) {
                    $scope.data = response;
                })
            }
        }
    </script>
</body>

</html>
