<!DOCTYPE html>
<html lang="zh-CN" class=" evernoteSafari">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Template for Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
</head>

<body ng-app ng-controller='main'>
    <div class="header">
        <div class="container">
            <nav class="nav">
                <a class="nav-item" href="/courseOfTeacher.ejs">主页</a>
                <a class="nav-item" href="/lessonOfTeacher.ejs">课堂编辑</a>
                <a class="nav-item active" href="/monitor.ejs">监视器</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 sider list-box" id="course-list-box">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat='courseBrief in data.courseSummaryWithLessonSummary'>
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
                                    {{courseBrief.courseName}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="list-group">
                                <a class="list-group-item" href="javascript:void(0)" ng-repeat='lessonBrief in courseBrief.lessonSummary'>{{lessonBrief.lessonTitle}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 main">
                <h2 id="lesson-title">课堂标题</h2>
                <div class="row">
                    <div class="col-xs-3 list-box sider" id="student-list-box">
                        <div class="list-group">
                            <a class="list-group-item" href="javascript:void(0)" ng-repeat='user in data.userSummary'>{{user.userName}}</a>
                        </div>
                    </div>
                    <div class="col-xs-9 main" id='doc-put-box'>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                                <p class="doc-label">文档标签</p>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)">
                                    <div class="panel panel-default doc-ico">
                                        <div class="panel-body">
                                            标准文档
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)">
                                    <div class="panel panel-default doc-ico">
                                        <div class="panel-body">
                                            标准文档
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)">
                                    <div class="panel panel-default doc-ico">
                                        <div class="panel-body">
                                            标准文档
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)">
                                    <div class="panel panel-default doc-ico">
                                        <div class="panel-body">
                                            标准文档
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12">
                                <hr>
                                <p class="doc-label">文档标签</p>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)">
                                    <div class="panel panel-default doc-ico">
                                        <div class="panel-body">
                                            标准文档
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)">
                                    <div class="panel panel-default doc-ico">
                                        <div class="panel-body">
                                            标准文档
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='./js/angular.js'></script>
    <script src='./js/refresh.js'></script>
    <script type="text/javascript" src='./js/test.js'></script>
    <script type="text/javascript">
        var userId = '<%= userId%>';
    </script>
</body>

</html>
