/*
 * Globals
 */
::-webkit-scrollbar{width:0px}
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.hide-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
 * Override Bootstrap's default container.
 */

.container {
    width: 970px!important;
}

.header {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}
/* Nav links */

.nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

.nav-item:hover,
.nav-item:focus {
    color: #fff;
    text-decoration: none;
}

.nav .active {
    color: #fff;
}

.nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}
/*结构*/

.sider,
.main {
    margin-top: 25px;
}

.list-box {
    overflow-y: auto;
    position: relative;
}
/*.list-box:before{
    content:' ';
    width: 137px;
    height: 16px;
    display: block;
    position: fixed;
    background: -webkit-linear-gradient(top,rgba(210, 210, 210, 1),rgba(0,0,0,0));
    z-index: 100;
}*/
/*次级结构*/

#course-list-box {
    height: 560px;
}

#course-doc-list-box {
    height: 450px;
}

#lesson-put-box {
    padding-top: 25px;
}

#lesson-title {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    display: block;
    width: 100%;
    outline: 0px;
    border: 0px;
    font-size: 35px;
    font-weight: bold;
    ;
}

#lesson-title:focus {
    outline: 0px;
}

#lesson-list-box{
    margin-top: 0px;
    height: 489px;
}
#important-doc-list{
    margin-top: 10px;
}
#lesson-summary {
    text-align: center;
    padding: 10px;
    display: block;
    width: 100%;
    outline: 0px;
    border: 0px;
}

#lesson-summary:focus {
    outline: 0px;
}

.add-item {
    text-align: center;
    padding: 0;
    line-height: 42px;
    color: #C0BFBF!important;
    font-size: 32px;
    ;
}

.add-lesson {
    padding: 0;
    line-height: 88px;
    text-align: center;
    font-size: 75px;
    background-color: whitesmoke;
    color: rgb(171, 170, 170);
}

h2#lesson-title {
    text-align: left;
    padding-top: 0;
}

#student-list-box {
    height: 450px;
}

#doc-put-box {
    height: 450px;
    overflow-y: auto;
}

#lesson-list-of-student {
    height: 280px;
}

.doc-ico div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover .doc-ico,
a:hover .lesson-ico {
    box-shadow: 2px 2px 4px 0px rgb(200, 200, 200);
}

.doc-name {
    margin: 0;
}

.doc-tag {
    display: block;
    position: absolute;
    top: 31px;
    right: 19px;
}

.doc-update-time {
    font-family: serif;
    font-size: 10px;
    margin-left: 0px;
    margin-bottom: -6px;
    color: rgb(51, 122, 183);
}
/* login*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    padding-top: 80px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.editor-box {
    box-shadow: 0px 0px 10px -3px;
}

.editor-box  {
    margin-top: 10px;
    padding-top: 10px;
}

.editor-box-course{
    margin-top: 25px;
}


.editor-box-docE{
    margin-top: 35px;
}
.editor-box-docE .editor_area{
    height: 700px;
}

.header.purple {
    background-color: #6f5499;
}

.header.purple .nav-item {
    color: #cdbfe3;
}
/* editDoc */

.ref-doc-box,
.edit-doc {
    margin-top: 35px;
}

.ref-doc-box {
    
}
.ref-doc-list, .ref-doc{
    margin-top: 20px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}